@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');


.gallerybody{
    padding-top: 60px;
    background-image: url('https://imgur.com/2J2DBoB.gif');
    padding-left: 20px;
    padding-right: 15px;

  }
